syntax: glob
.DS_Store
*.sw*
*.*~
*.pdf
*.gem
extras
test.rb
vendors/*.tgz
vendors/*.jar
vendors/processing-*/
vendors/jruby-*/
library/dxf/
library/javascript/
library/minim/
library/net/
library/pdf/
library/serial/
library/video/
lib/core/gluegen-rt-natives-linux-amd64.jar
lib/core/gluegen-rt-natives-linux-i586.jar
lib/core/gluegen-rt-natives-macosx-universal.jar
lib/core/gluegen-rt-natives-windows-amd64.jar
lib/core/gluegen-rt-natives-windows-i586.jar
lib/core/gluegen-rt.jar
lib/core/jogl-all-natives-linux-amd64.jar
lib/core/jogl-all-natives-linux-i586.jar
lib/core/jogl-all-natives-macosx-universal.jar
lib/core/jogl-all-natives-windows-amd64.jar
lib/core/jogl-all-natives-windows-i586.jar
lib/core/jogl-all.jar
lib/core/core.jar
lib/core/jruby-complete.jar
